/* Variables */

:root {
	--basic-grey: #293449;
	--basic-greylight: #c5c5c5;
	--basic-greylightthird: rgb(197, 197, 197, 0.3);
	--basic-greylightlow: #E5E5E5;
	--basic-greydark: #161D29;
	--basic-greymedium: #32425C;
	--basic-greymediumlow: #A9A9A9;
	--basic-greymediumlowthird: rgb(169, 169, 169, 0.3);
	--basic-greydarkhigh: #1D2739;
	--basic-green: #63A63E;
	--basic-red: #EE3643;
	--basic-bg: #F1F5F7;
	--basic-bg-filter: #F7F3EC;
	--basic-white: #ffffff;
	--basic-whitehalf: rgba(255, 255, 255, 0.5);
	--basic-whitethird: rgba(255, 255, 255, 0.3);
	--basic-black: #000000;
	--basic-blackfourth: rgba(0, 0, 0, 0.4);
	--basic-blackthird: rgba(0, 0, 0, 0.3);
	--basic-blackquarter: rgba(0, 0, 0, 0.25);
	--basic-blacktenth: rgba(0, 0, 0, 0.1);

	--header-bg: #F3F7F9;
	--header-section-bg: #F9F5F0;
	--header-section-bg-catalog: #F2F6F8;

	--shadow-greendark: #367315;
	--shadow-greendarker: #518534;
	--shadow-reddark: rgba(0, 0, 0, 0.24);
	--shadow-product-card: rgba(0, 0, 0, 0.15);
	--shadow-brand: rgba(0, 0, 0, 0.15);
	--shadow-services-tabs: #405069;
	--shadow-modal1: rgba(47, 42, 43, 0.5);
	--shadow-modal2: rgba(41, 52, 73, 0.75);

	--button-hover-red: #CA2C37;

	--services-button-bg: #FF5357;

	--writeus-modal-bg: #F4F4F4;

	--range-scale: #D7DCDE;
	--range-bar: #00ca74;
	--range-toggle: #ababab;

	--footer-address: #F3F7F9;
	--footer-nav-top: #F1F5F7;
	--footer-nav-bottom: #FFD180;
	--footer-info-link: #FFD180;
	--footer-social-bg: #212A3A;

	--cart-buttons-bg: #F1F1F1;

	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-yellow2: #FFC047;
	
	--success: #5FBB2D;
	--warning: #FFBF47;
	--error: #BA2732;
	--greylight: #EAEAEA;

	--chrome-outline: rgb(77, 144, 254);;
}

/* Global */

html {
	height: 100%;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: PT Sans, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-black);
	background-color: var(--basic-white);
	min-height: 100%;
	display: grid;
	grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Visualy Hidden */

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

/* Container */
.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/* Buttons */

.button-red {
	background-color: var(--basic-red);
	color: var(--basic-white);
	text-transform: uppercase;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 38px;
	border: none;
}

.button-red:hover {
	background-color: var(--button-hover-red);
}

.button-red:active {
	background-color: var(--error);
}

.button-white {
	background-color: var(--basic-white);
	color: var(--basic-black);
	text-transform: uppercase;
	text-align: center;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 38px;
}

/* Header */

.main-header {
	background-color: var(--header-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Header Top Navigation */

.header-top-wrapper {
	width: 100%;
	height: auto;
	margin-bottom: 40px;
	background-color: var(--basic-grey);
}

.header-top {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: transparent;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header-top-menu {
	width: 100%;
	min-height: 42px;
	display: flex;
	align-items: center;
}

.header-logo {
	width: 220px;
	height: 47px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--shadow-reddark);
	position: absolute;
}

.header-logo img {
	padding: 12px 55px 17px 55px;
}

.header-logo:active {
	background-color: var(--error);
}

.header-search {
	color: var(--basic-white);
	position: relative;
	flex-grow: 1;
	width: 270px;
	padding-left: 50px;
	margin-left: 220px;
}

.header-search span {
	border: none;
	background: transparent;
	color: var(--basic-white);
	margin: 0;
	padding: 0;
	margin-left: -8px;
	cursor: pointer;
}

.header-search span::before {
	content: "";
	position: absolute;
	top: 2px;
	left: 17px;
	width: 17px;
	height: 17px;
	padding-left: 20px;
	background-image: url('../img/icon-search.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.header-search form {
	display: none;
}

.header-search:hover form {
	display: block;
}

.header-search:hover span {
	display: none;
}

.header-search:focus-within form {
	display: block;
}

.header-search:focus-within span {
	display: none;
}

.header-search input {
	width: 205px;
	height: 40px;
	margin-left: -50px;
	padding-left: 42px;
	padding-right: 10px;
	border: none;
	background-image: url('../img/icon-search-active.svg');
	background-position: 18px center;
  	background-repeat: no-repeat;
}

.header-top-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 460px;
	min-height: 42px;
	display: flex;
	justify-content: flex-end;
}

.header-top-nav li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-top-nav a {
	color: var(--basic-white);
	display: block;
}

.header-top-nav a:active {
	color: var(--basic-whitehalf);
}

.header-top-nav .bookmarks:active,
.header-top-nav .cart:active {
	background-color: var(--basic-greydark);
}

.bookmarks {
	position: relative;
	padding-left: 15px;
	left: 12px;
	min-width: 150px;
}

.bookmarks a::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 25px;
	width: 14px;
	height: 15px;
	background-image: url('../img/icon-bookmark.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.cart {
	position: relative;
	padding-left: 15px;
	left: 5px;
	min-width: 123px;
	margin-left: 10px;
}

.cart a::before {
	content: "";
	position: absolute;
	top: 12px;
	left: 12px;
	width: 15px;
	height: 15px;
	background-image: url('../img/icon-cart.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.bookmarks:hover a::before,
.cart:hover a::before {
	opacity: 1.0;
} 

.bookmarks:active a::before,
.cart:active a::before {
	opacity: 0.3;
}

.header-top-nav .order {
	background-color: var(--basic-green);
	min-width: 154px;
}

.header-top-nav .order:hover {
	background-color: var(--success);
}

.header-top-nav .order:active {
	background-color: var(--basic-green);
}

.header-top-nav .cart-notempty {
	background-color: var(--basic-red);
}

/* Header Information */

.header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-about {
	font-family: Cuprum, Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	margin: 0;
	padding: 0;
	margin-left: 30px;
	margin-top: 3px;
	width: 197px;
}

.header-contacts {
	width: 270px;
	position: relative;
	top: 3px;
	left: 20px;
}

.header-contacts a {
	display: block;
	color: var(--basic-white);
	border-width: 3px;
	border-style: solid;
	border-color: var(--basic-white);
	font-family: Cuprum, Arial, sans-serif;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	display: block;
	padding: 7px 39px 6px 74px;
}

.header-contacts a::before {
	content: "";
	position: absolute;
	top: 15px;
	left: 40px;
	width: 18px;
	height: 19px;
	padding-left: 20px;
	background-image: url('../img/icon-phone.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.header-contacts p {
	font-family: Cuprum, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-grey);
	text-align: center;
	margin: 0;
	max-width: 270px;
}

.header-profile {
	width: 300px;
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.header-profile-loggedin {
	width: 300px;
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 3px;
}

.header-login {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding: 12px 27px 12px 45px;
	margin-right: 10px;
}

.header-login::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 40px;
	width: 18px;
	height: 19px;
	padding-left: 10px;
	background-image: url('../img/icon-login.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.header-register {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding: 12px 24px 12px 24px;
}

.header-login:hover,
.header-register:hover {
	color: var(--basic-red);
}

.header-login:hover::before {
	opacity: 1.0;
}

.header-login:active::before {
	opacity: 0.3;
}

.header-login:active,
.header-register:active {
	color: var(--basic-greylight);
}

.header-account {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding: 12px 57px 12px 56px;
	max-width: 186px;
}

.header-account::before {
	content: "";
	position: absolute;
	top: 17px;
	left: 15px;
	width: 20px;
	height: 18px;
	background-image: url('../img/icon-user.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.header-logout {
	position: absolute;
	top: 17px;
	right: 15px;
	width: 20px;
	height: 17px;
	background-image: url('../img/icon-logout.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.header-account:active {
	color: var(--basic-greylight);
}

.header-account:hover::before,
.header-logout:hover {
	opacity: 1.0;
}

.header-account:active::before,
.header-logout:active {
	opacity: 0.3;
}


.header-account-links {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-greymedium);
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.header-account-links li {
	margin-top: 10px;
}

.header-account-links a {
	color: var(--basic-greymedium);
}

.header-account-links a:hover {
	color: var(--basic-red);
}

.header-account-links li:not(:last-child)::after {
	content: "";
	width: 6px;
	height: 6px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 10px;
	background-color: var(--basic-greymedium);
	border-radius: 50%;
}

/* Header Main Menu */

.main-menu {
	background-color: var(--basic-greymedium);
	box-shadow: inset 0px -5px 0px var(--basic-grey);
	display: flex;
	justify-content: center;
	margin-top: 42px;
	margin-bottom: 60px;
}

.main-menu ul {
	width: 888px;
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main-menu a {
	font-family: Cuprum, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	display: block;
	padding: 16px 26px 20px;
}

.main-menu a:active {
	color: var(--basic-whitehalf);
}

.main-menu li:hover {
	background-color: var(--basic-grey);
	box-shadow: inset 0px -5px 0px var(--basic-grey);
}

.main-menu li:active {
	background-color: var(--basic-greydarkhigh);
	box-shadow: inset 0px -5px 0px var(--basic-grey);
}

/* Main Page About Columns */

.main-about-columns {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 70px;
}

.main-about-columns p {
	margin: 0;
	padding: 0;
}

/* Main Page About Section */

.main-about h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 93px;
}

.main-about p:nth-of-type(2) {
	margin-top: 24px;
	width: 385px;
}

.delivery-partners {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 3px;
	margin-bottom: 20px;
}

.delivery-partners li {
	font-family: Cuprum, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}

.delivery-partners li:not(:last-child) {
	margin-bottom: 12px;
}

.delivery-partners li::before {
	content: "";
	width: 25px;
	height: 2px;
	display: inline-block;
    vertical-align: middle;
	background-color: var(--basic-red);
	margin-right: 12px;
}

.main-about .button-more {
	padding-left: 40px;
	padding-right: 40px;
	width: 140px;
}

/* Main Page Contacts Section */

.main-contacts h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 70px;
}

.main-contacts .map {
	display: block;
	margin-top: 32px;
	margin-bottom: 16px;
}

.main-contacts .button-contact {
	padding-left: 60px;
	padding-right: 60px;
}

/*  Featured Section */

.main-featured {
	font-family: Cuprum, Arial, sans-serif;
	color: var(--basic-white);
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	margin-bottom: 60px;
	max-width: 100%;
}

.featured-categories {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.featured-categories li {
	width: 300px;
	min-height: 123px;
	margin-bottom: 20px;
	margin-right: 20px;
	position: relative;
}

.featured-categories li:nth-child(3n) {
	margin-right: 0;
}

.featured-categories h3,
.featured-benefits h3 {
	max-width: 135px;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	line-height: 30px;
	padding: 0;
	margin-left: 23px;
	margin-top: 20px;
	margin-bottom: 14px;
}

.featured-categories a,
.featured-benefits a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	width: 135px;
	min-height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-whitethird);
	margin-left: 23px;
	margin-bottom: 21px;
}

.featured-categories a:hover,
.featured-benefits a:hover {
	background-color: var(--basic-greylightthird);
}

.featured-categories a:active,
.featured-benefits a:active {
	background-color: var(--basic-greymediumlowthird);
}

.featured-materials {
	background-color: var(--special-yellow);
}

.featured-materials svg {
	position: absolute;
	top: 31px;
	left: 213px;
}

.featured-instrument {
	background-color: var(--special-blue);
}

.featured-instrument svg {
	position: absolute;
	top: 34px;
	left: 194px;
}

.featured-tech {
	background-color: var(--special-lilac);
}

.featured-tech svg {
	position: absolute;
	top: 31px;
	left: 191px;
}

.featured-new {
	background-image: url('../img/ribbon-new.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.featured-row {
	display: flex;
    justify-content: space-between;
}

.featured-slider {
	width: 620px;
	height: 266px;
	position: relative;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider-single {
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}

.slide-title {
	background: var(--basic-blackquarter);
	width: 100%;
	min-height: 104px;
	position: absolute;
	top: 0;
	left: 0;
}

.slider-single h3 {
	max-width: 575px;
	font-size: 36px;
	text-transform: uppercase;
	line-height: 36px;
	margin: 0;
	margin-top: 23px;
	margin-bottom: 5px;
	padding-left: 24px;
}

.slider-single span {
	max-width: 575px;
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	padding-left: 24px;
}

.slider-single a {
	padding-left: 46px;
	padding-right: 46px;
	position: absolute;
	bottom: 35px;
    left: 24px;
}

.slider-current {
	display: block;
}

.slider-controls {
	width: 100%;
	position: absolute;
	top: 123px;
	left: 0;
	z-index: 20;
	display: flex;
	justify-content: space-between;
}

.slider-controls .prev-slide {
	padding: 0;
	border: none;
	width: 21px;
	height: 39px;
	margin-left: 25px;
	background-color: transparent;
	background-image: url('../img/icon-left.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

.slider-controls .next-slide {
	padding: 0;
	border: none;
	width: 21px;
	height: 39px;
	margin-right: 21px;
	background-color: transparent;
	background-image: url('../img/icon-right.svg');
	background-repeat: no-repeat;
	cursor: pointer;
}

.slider-indicators {
	position: absolute;
	bottom: 36px;
	left: 295px;
	z-index: 20;
	width: 30px;
	display: flex;
	justify-content: space-between;
}

.slider-indicators button {
	padding: 0;
	width: 10px;
	height: 10px;
	background-color: var(--basic-white);
	border: 2px solid var(--basic-white);
	border-radius: 50%;
	cursor: pointer;
}

.slider-indicators .current {
	background-color: var(--basic-red);
}

.featured-benefits {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.featured-benefits li {
	width: 300px;
	min-height: 123px;
	margin-bottom: 20px;
	position: relative;
}

.featured-benefits li:last-child {
	margin-bottom: 0;
}

.featured-discount {
	background: var(--special-greenlight);
}

.featured-discount svg {
	position: absolute;
	top: 27px;
	left: 196px;
}

.featured-delivery {
	background: var(--special-yellow2);
}

.featured-delivery svg {
	position: absolute;
	top: 27px;
	left: 196px;
}

/* Popular Products Section and Popular Brands Section */

.main-products h2,
.main-brands h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: var(--basic-greymedium);
	font-size: 30px;
	line-height: 30px;
	align-items: center;
	text-transform: uppercase;
	margin-left: 28px;
	max-width: 630px;
}

.main-products header,
.main-brands header {
	background-color: var(--header-section-bg);
	min-height: 89px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-brands {
	margin-top: 48px;
}

.products-all, .brands-all {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.products-all {
	padding-left: 24px;
	padding-right: 24px;
	margin-right: 14px;
}

.brands-all {
	padding-left: 39px;
	padding-right: 38px;
	margin-right: 20px;
}

.brands-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.brands-list a {
	width: 220px;
	height: 145px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--greylight);
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brands-list a:hover {
	box-shadow: 0px 4px 20px var(--shadow-brand);
}

.brands-list a:active {
	box-shadow: 0px 4px 20px var(--shadow-brand);
	opacity: 0.5;
}

/* Services Section */

.main-services-wrapper {
	background-color: var(--basic-bg);
	width: 100%;
	min-height: 522px;
}

.main-services {
	min-height: 522px;
}

.services-title {
	width: 396px;
}

.main-services h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 86px;
}

.main-services-content {
	margin-top: 70px;
	display: flex;
}

.services-tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

.services-tabs li {
	width: 240px;
	height: 61px;
}

.services-tabs button {
	width: 100%;
	height: 100%;
	border: none;
	font-family: Cuprum, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	color: var(--basic-white);
	background-color: var(--basic-greymedium);
	box-shadow: 0px 1px 0px var(--basic-grey), inset 0px 1px 0px var(--shadow-services-tabs);
	cursor: pointer;
	padding-left: 22px;
}

.services-tabs .services-tabs-current {
	background-color: var(--basic-white);
	color: var(--basic-greymedium);
	box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}

.services-tabs button:not(.services-tabs-current):hover {
	background-color: var(--basic-grey);
}

.services-article {
	width: 100%;
	min-height: 237px;
	margin-left: 80px;
	display: none;
}

.services-article-current {
	display: block;
}

.article-credit {
	background-image: url('../img/bg-credit.png');
	background-repeat: no-repeat;
	background-position: 155px 0;
}

.article-warranty {
	background-image: url('../img/bg-warranty.png');
	background-repeat: no-repeat;
	background-position: 232px 0;
}

.article-delivery {
	background-image: url('../img/bg-delivery.png');
	background-repeat: no-repeat;
	background-position: 152px 0;
}

.services-article h3 {
 	color: var(--basic-greymedium);
 	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.services-article p {
	margin-top: 28px;
	margin-bottom: 25px;
	width: 320px;
}

.services-article a {
 	background-color: var(--services-button-bg);
 	border-radius: 3px;
 	width: 195px;
}

/* Breadcrumbs */

.breadcrumbs {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 21px;
	margin-bottom: 20px;
	display: flex;
}

.breadcrumbs li {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.breadcrumbs a {
	color: var(--basic-black);
}

.breadcrumbs .link-home {
	width: 14px;
	height: 12px;
	position: relative;
	top: 3px;
	left: 0;
	display: block;
	background-image: url('../img/icon-home.svg');
	background-repeat: no-repeat;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";
	width: 8px;
	height: 12px;
	position: relative;
	top: 2px;
	left: 0;
	display: inline-block;
	vertical-align: baseline;
	margin-left: 17px;
	margin-right: 17px;
	background-image: url('../img/icon-right-small.svg');
	background-repeat: no-repeat;
}

/* Products Section */

.products {
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-template-rows: auto auto auto auto auto auto auto;
	gap: 20px;
}

.products h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--basic-greymedium);
	background-color: var(--header-section-bg-catalog);
	padding-top: 29px;
	padding-left: 29px;
	padding-bottom: 30px;
	grid-column-start: 1;
	grid-column-end: -1;
	margin: 0;
}

.products-filter {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}

.products-filter header {
	min-height: 38px;
	text-transform: uppercase;
	background-color: var(--basic-bg-filter);
	margin-bottom: 14px;
}

.products-filter p {
	margin: 0;
	padding: 0;
	line-height: 18px;
	padding-top: 10px;
	padding-left: 18px;
}

.products-filter fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.products-filter fieldset:not(:last-of-type) {
	border-bottom: 1px solid var(--basic-blacktenth);
	padding-bottom: 25px;
	margin-bottom: 17px;
}

.filter-range {
	width: 220px;
}

.range-wrapper {
	height: 41px;
	background-color: var(--basic-bg-filter);
	margin-top: 11px;
	margin-bottom: 9px;
	border-radius: 5px;
	padding-top: 39px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

.range-wrapper .scale {
	width: 180px;
	height: 2px;
	background-color: var(--range-scale);
}

.range-wrapper .bar {
	width: 80%;
	height: 2px;
	background-color: var(--range-bar);
}

.range-wrapper .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid var(--basic-white);
	background-color: var(--range-toggle);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 var(--range-scale);
	cursor: pointer;
}

.range-wrapper .toggle-min {
	left: 20px;
}

.range-wrapper .toggle-max {
	left: 160px;
}

.price-inputs {
	display: flex;
	justify-content: space-between;
}

.price-inputs input {
	width: 95px;
	height: 38px;
	border: none;
	border-radius: 5px;
	font-size: 17px;
	line-height: 18px;
	background-color: var(--basic-bg-filter);
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.price-inputs input[type="number"] {
    -moz-appearance:textfield;
}

.price-inputs input::-webkit-outer-spin-button,
.price-inputs input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-inputs span {
	font-size: 17px;
	line-height: 18px;
	margin: auto 5px;
}

.products-filter legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--basic-black);
}

.filter-brands,
.filter-battery {
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
}

.filter-brands ul,
.filter-battery ul {
	margin: 0;
	padding: 0;
}

.filter-brands li {
	list-style: none;
	margin-top: 20px;
	position: relative;
}

.filter-brands li:first-child {
	margin-top: 17px;
}

.filter-brands label,
.filter-battery label {
	position: relative;
	left: 35px;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

.brands-input-checkbox + label::before {
	content: "";
	width: 23px;
	height: 23px;
	position: absolute;
	top: -2px;
	left: -35px;
	margin-right: 12px;
	background-image: url('../img/checkbox-off.svg');
	background-repeat: no-repeat;
}

.brands-input-checkbox:checked + label::before {
	content: "";
	width: 27px;
	height: 23px;
	position: absolute;
	top: -2px;
	left: -35px;
	margin-right: 12px;
	background-image: url('../img/checkbox-on.svg');
	background-repeat: no-repeat;
}

.brands-input-checkbox:focus-within + label {
	outline-color: var(--chrome-outline);
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

.brands-input-checkbox:hover + label::before {
	background-image: url('../img/checkbox-off-hover.svg');
}

.brands-input-checkbox:checked:hover + label::before {
	background-image: url('../img/checkbox-on-hover.svg');
}

.brands-input-checkbox:disabled + label::before {
	background-image: url('../img/checkbox-off-disabled.svg');
}

.brands-input-checkbox:checked:disabled + label::before {
	background-image: url('../img/checkbox-on-disabled.svg');
}

.brands-input-checkbox:disabled + label,
.battery-input-radio:disabled + label {
	color: var(--basic-blackfourth);
}

.filter-battery li {
	list-style: none;
	margin-top: 23px;
	position: relative;
}

.battery-input-radio + label::before {
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: -2px;
	left: -35px;
	display: block;
	margin-right: 12px;
	background-image: url('../img/radio-off.svg');
	background-repeat: no-repeat;
}

.battery-input-radio:checked + label::before {
	content: "";
	width: 25px;
	height: 25px;
	position: absolute;
	top: -2px;
	left: -35px;
	display: block;
	margin-right: 12px;
	background-image: url('../img/radio-on.svg');
	background-repeat: no-repeat;
}

.battery-input-radio:hover + label::before {
	background-image: url('../img/radio-off-hover.svg');
}

.battery-input-radio:checked:hover + label::before {
	background-image: url('../img/radio-on-active.svg');
}

.battery-input-radio:disabled + label::before {
	background-image: url('../img/radio-off-disabled.svg');
}

.battery-input-radio:checked:disabled + label::before {
	background-image: url('../img/radio-on-disabled.svg');
}

.battery-input-radio:focus-within + label {
	outline-color: var(--chrome-outline);
	outline-offset: -2px;
	outline-style: auto;
	outline-width: 5px;
}

.products-filter button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: var(--basic-greylight);
	padding: 10px 78px;
	cursor: pointer;
	margin-top: 37px;
}

.products-sort {
	min-height: 38px;
	background-color: var(--basic-bg-filter);
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: -1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 18px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.products-sort p {
	margin: 0;
	padding: 0;
	padding-left: 18px;
}

.sort-options {
	list-style: none;
	margin: 0;
	padding: 0;
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.sort-options a {
	mix-blend-mode: normal;
	color: var(--basic-blackthird);
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: var(--basic-red);
	text-transform: uppercase;
	margin-left: 65px;
}

.sort-options .active {
	color: var(--basic-red);
	border: none;
}

.sort-options a:not(.active):hover {
	color: var(--basic-black);
}

.sort-options a:not(.active):active {
	color: var(--basic-red);
}

.sort-buttons {
	margin-left: 46px;
	margin-right: 17px;
	width: 44px;
	display: flex;
	justify-content: space-between;
}

.products-sort a {
	cursor: pointer;
}

.button-up-dir {
	display: block;
	width: 11px;
	height: 10px;
	background-image: url('../img/icon-up-dir.svg');
	background-repeat: no-repeat;
}

.button-up-dir:hover {
	background-image: url('../img/icon-up-dir-hover.svg');
}

.button-up-dir:active {
	background-image: url('../img/icon-up-dir-active.svg');
}

.button-up-dir.active {
	background-image: url('../img/icon-up-dir-active.svg');
}

.button-down-dir {
	display: block;
	width: 11px;
	height: 10px;
	background-image: url('../img/icon-down-dir.svg');
	background-repeat: no-repeat;
}

.button-down-dir:hover {
	background-image: url('../img/icon-down-dir-hover.svg');
}

.button-down-dir:active {
	background-image: url('../img/icon-down-dir-active.svg');
}

.button-down-dir.active {
	background-image: url('../img/icon-down-dir-active.svg');
}

.products-block {
	grid-row-start: 3;
	grid-row-end: 7;
	grid-column-start: 2;
	grid-column-end: -1;
}

.products-list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.product-card {
	width: 218px;
	min-height: 316px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--greylight);
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.product-card.product-new::before {
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url('../img/ribbon-new.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.product-card:focus-within .product-options {
	display: block;
}

.product-card:focus-within .product-image {
	display: none;
}

.product-card:hover .product-options {
	display: block;
}

.product-card:hover .product-image {
	display: none;
}

.three-items-row .product-card:nth-of-type(3n) {
	margin-right: 0;
}

.four-items-row .product-card:nth-of-type(4n) {
	margin-right: 0;
}

.product-image {
	display: block;
	min-height: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
	-o-object-fit: contain;
	   object-fit: contain;
}

.product-card a {
	text-align: center;
	width: 157px;
}

.product-card h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
	margin-top: 0;
	margin-bottom: 7px;
}

.price-wrapper {
	width: 100%;
	min-height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.old-price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	-webkit-text-decoration-line: line-through;
	        text-decoration-line: line-through;
	text-transform: uppercase;
	color: var(--basic-greymediumlow);
}

.price {
	max-width: 100px;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
	padding: 10px 25px 10px 32px;
	margin-top: auto;
	margin-left: 45px;
	position: relative;
	align-self: flex-start;
}

.price::after {
    content: "";
    position: absolute;
    right: -38px;
    top: 0;
    border: solid 19px transparent;
    border-left-color: var(--basic-red);
}

.product-options {
	width: 135px;
	min-height: 165px;
	margin-bottom: 15px;
	display: none;
}

.product-card:hover {
	box-shadow: 0px 4px 20px var(--shadow-product-card);
}

.button-buy,
.button-bookmarks {
	width: 135px;
	height: 38px;
	font-family: Cuprum, Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.button-buy {
	background-color: var(--basic-green);
	border: none;
	box-shadow: inset 0px -3px 0px var(--shadow-greendark);
	border-radius: 2px;
	color: var(--basic-white);
	margin-top: 38px;
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
}

.button-buy::before {
	content: "";
	position: absolute;
	top: 10px;
	left: 30px;
	width: 15px;
	height: 15px;
	padding-right: 7px;
	background-image: url('../img/icon-cart.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.button-bookmarks {
	background-color: var(--basic-white);
	border-width: 3px;
	border-style: solid;
	border-color: var(--basic-green);
	border-radius: 2px;
	color: var(--basic-grey);
}

.button-buy:hover {
	background-color: var(--success);
	color: var(--basic-white);
}

.button-buy:active {
	background-color: var(--shadow-greendarker);
}

.button-bookmarks:hover {
	border-width: 3px;
	border-style: solid;
	border-color: var(--basic-greymedium);
	color: var(--basic-greymedium);
}

.button-bookmarks:active {
	opacity: 0.5;
}

/* Pagination */

.pagination {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	margin-top: 23px;
}

.pagination li {
	border-width: 1px;
	border-style: solid;
	border-color: var(--basic-greylightlow);
	box-sizing: border-box;
	border-radius: 2px;
	text-transform: uppercase;
	cursor: pointer;
	min-width: 38px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	padding: 10px;
}

.pagination li:last-child {
	padding: 10px 31px 10px 32px;
}

.pagination li:not(.active):hover {
	border-color: var(--basic-greylight);
}

.pagination li:not(.active):active {
	border-color: var(--basic-red);

}

.pagination a {
	color: var(--basic-black);
}

.pagination .active {
	background-color: var(--basic-red);
	border: none;
}

.pagination .active a {
	color: var(--basic-white);
}

/* Few Words Section */

.few-words-wrapper {
	width: 100%;
	min-height: 276px;
	background-color: var(--basic-bg);
}

.few-words h2 {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	padding-top: 80px;
}

/* Footer */

footer {
	background-color: var(--basic-greymedium);
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-top-left {
	width: 324px;
}

.footer-logo {
	display: block;
	width: 220px;
	height: 68px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--shadow-reddark);
}

.footer-logo img {
	padding: 20px 40px 25px 40px;
}

.footer-logo:active {
	background-color: var(--error);
}

.footer-address {
	margin: 0;
	padding: 0;
	color: var(--footer-address);
	margin-top: 22px;
}

.footer-nav {
	width: 620px;
	min-height: 193px;
}

.footer-nav-top {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 37px;
}

.footer-nav-bottom {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: 34px;
	width: 100%;
}

.footer-nav-top,
.footer-nav-bottom {
	list-style: none;
}

.footer-nav-top a {
	color: var(--footer-nav-top);
	margin-left: 60px;
}

.footer-nav-top a:hover {
	text-decoration: underline;
}

.footer-nav-bottom a {
	color: var(--footer-nav-bottom);
	margin-left: 60px;
}

.footer-nav-bottom a:hover {
	text-decoration: underline;
}

.footer-nav-top a:active,
.footer-nav-bottom a:active {
	mix-blend-mode: normal;
	opacity: 0.5;
	text-decoration: none;
}

.footer-bottom-wrapper {
	width: 100%;
	min-height: 107px;
	background-color: var(--basic-grey);
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	width: 100%;
	height: 107px;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
}

.footer-copyright {
	width: 227px;
	padding: 36px;
	margin: 0;
	padding: 0;
	color: var(--basic-white);
	margin-right: 160px;
}

.footer-social {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 270px;
	margin-right: 116px;
}

.footer-social a {
	width: 44px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--footer-social-bg);
	border-radius: 50%;
	margin-right: 2px;
}

.footer-social a:hover {
	background-color: var(--basic-red);
}

.footer-feedback {
	width: 140px;
}

.footer-developed {
	width: 100px;
	margin-left: 50px;
}

.footer-info a {
	color: var(--footer-info-link);
}

.footer-info a:hover {
	text-decoration: underline;
}

.footer-info a:active {
	text-decoration: none;
	color: var(--basic-red);
}

/* Modal Windows */

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	display: none;
}

.button-close {
	border: none;
	width: 21px;
	height: 21px;
	background: transparent;
	background-image: url(../img/icon-close.svg);
    background-repeat: no-repeat;
    background-position: right top;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	z-index: 3;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-map {
	width: 943px;
	height: 449px;
	background-color: var(--basic-white);
	border-top-color: var(--basic-red);
	border-top-style: solid;
	border-top-width: 7px;
	box-shadow: 0px 0px 14.7px var(--shadow-modal1);
}

.modal-map iframe {
  position: relative;
  z-index: 2;
  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-contact {
	width: 620px;
	height: 430px;
	background-color: var(--basic-white);
	border-top-color: var(--basic-red);
	border-top-style: solid;
	border-top-width: 7px;
	box-shadow: 0px 0px 14.7px var(--shadow-modal1);
}

.modal-contact .inputs-wrapper {
	width: 460px;
	margin: 0 auto;
	margin-top: 46px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.modal-contact p {
	margin: 0;
	padding: 0;
}

.modal-contact label {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 11px;
	display: block;
}

.modal-contact input {
	width: 196px;
	height: 20px;
	padding: 7px 8px 7px 12px;
	color: var(--basic-greymediumlow);
	border-color: var(--basic-greylight);
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	margin-bottom: 13px;
}

.modal-contact textarea {
	width: 436px;
	height: 96px;
	padding: 7px 8px 7px 12px;
	color: var(--basic-greymediumlow);
	border-color: var(--basic-greylight);
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
}

.submit-wrapper {
	width: 100%;
	height: 75px;
	background-color: var(--writeus-modal-bg);
	margin-top: 37px;
	padding-top: 37px;
}

.modal-contact button[type="submit"] {
	width: 460px;
	margin: 0 auto;
	cursor: pointer;
}

.modal-cart {
	width: 620px;
	height: 282px;
	background-color: var(--basic-white);
	border-top-color: var(--basic-red);
	border-top-style: solid;
	border-top-width: 7px;
	box-shadow: 0px 20px 40px var(--shadow-modal2);
}

.modal-cart-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.modal-cart p {
	font-family: Cuprum, Arial, sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	padding-top: 70px;
}

.modal-cart p::before {
	content: "";
	position: absolute;
	top: 55px;
	left: 80px;
	width: 66px;
	height: 66px;
	background-image: url('../img/icon-mark.svg');
	background-repeat: no-repeat;
}

.cart-buttons {
	width: 100%;
	min-height: 112px;
	background-color: var(--cart-buttons-bg);
	margin-top: 67px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-buttons .button-order {
	min-width: 192px;
	margin-right: 10px;
}

.cart-buttons .button-continue {
	min-width: 192px;
	cursor: pointer;
}

/* Animations */

@-webkit-keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}