/* Variables */

:root {
	--basic-grey: #293449;
	--basic-greylight: #c5c5c5;
	--basic-greylightlow: #E5E5E5;
	--basic-greydark: #161D29;
	--basic-greymedium: #32425C;
	--basic-greymediumlow: #A9A9A9;
	--basic-greydarkhigh: #1D2739;
	--basic-green: #63A63E;
	--basic-red: #EE3643;
	--basic-bg: #F1F5F7;
	--basic-bg-filter: #F7F3EC;
	--basic-white: #ffffff;
	--basic-whitehalf: rgba(255, 255, 255, 0.5);
	--basic-whitethird: rgba(255, 255, 255, 0.3);
	--basic-black: #000000;
	--basic-blackthird: rgba(0, 0, 0, 0.3);
	--basic-blackquarter: rgba(0, 0, 0, 0.25);

	--header-bg: #F3F7F9;
	--header-section-bg: #F9F5F0;
	--header-section-bg-catalog: #F2F6F8;

	--shadow-greendark: #367315;
	--shadow-greendarker: #518534;
	--shadow-reddark: rgba(0, 0, 0, 0.24);
	--shadow-product-card: rgba(0, 0, 0, 0.15);
	--shadow-brand: rgba(0, 0, 0, 0.15);

	--button-hover-red: #CA2C37;

	--footer-address: #F3F7F9;
	--footer-nav-top: #F1F5F7;
	--footer-nav-bottom: #FFD180;
	--footer-info-link: #FFD180;
	--footer-social-bg: linear-gradient(0deg, #212A3A, #212A3A);

	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lilac: #DC91D8;
	--special-greenlight: #8ED78F;
	--special-yellowlight: #FFD180;
	--special-yellow2: #FFC047;
	
	--success: #5FBB2D;
	--warning: #FFBF47;
	--error: #BA2732;
	--greylight: #EAEAEA;
}

/* Global */

html {
	height: 100%;
}

body {
	min-width: 1220px;
	margin: 0;
	padding: 0;
	font-family: PT Sans, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	min-width: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

/* Visualy Hidden */

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/* Container */
.container {
	width: 940px;
	margin: 0 auto;
}

/* Buttons */

.button-red {
	background-color: var(--basic-red);
	color: var(--basic-white);
	text-transform: uppercase;
	text-align: center;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
}

.button-red:hover {
	background-color: var(--button-hover-red);
}

.button-red:active {
	background-color: var(--error);
}

/* Header */

.main-header {
	background-color: var(--header-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Header Top Navigation */

.header-top-wrapper {
	width: 100%;
	height: 42px;
	margin-bottom: 40px;
	background-color: var(--basic-grey);
}

.header-top {
	font-family: Cuprum, Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	background-color: transparent;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.header-top-menu {
	width: 820px;
	height: 42px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	width: 220px;
	height: 47px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--shadow-reddark);
}

.header-logo img {
	padding: 12px 55px 17px 55px;
}

.header-logo:active {
	background-color: var(--error);
}

.header-search {
	color: var(--basic-white);
	margin-left: 17px;
}

.header-top-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	max-width: 450px;
	display: flex;
}

.header-top-nav li {
	padding: 8px 26px;
}

.header-top-nav a {
	width: 100%;
	height: 100%;
	color: var(--basic-white);
}

.header-top-nav a:active {
	color: var(--basic-whitehalf);
}

.header-top-nav li:not([class]):active {
	background-color: var(--basic-greydark);
}

.header-top-nav .order {
	background-color: var(--basic-green);
}

.header-top-nav .order:hover {
	background-color: var(--success);
}

.header-top-nav .order:active {
	background-color: var(--basic-green);
}

.header-top-nav .cart-notempty {
	background-color: var(--basic-red);
}

/* Header Information */

.header-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-about {
	font-family: Cuprum;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color: var(--basic-red);
	margin-left: 30px;
}

.header-contacts {
	width: 270px;
}

.header-phone {
	width: 270px;
	height: 45px;
	color: var(--basic-white);
	border-width: 3px;
	border-style: solid;
	border-color: var(--basic-white);
}

.header-phone a {
	font-family: Cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	display: block;
	padding: 7px 45px 6px 74px;
}

.header-contacts p {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: var(--basic-grey);
	text-align: center;
	margin: 0;
}

.header-profile {
	width: 300px;
	margin-bottom: 20px;
	position: relative;
}

.header-login {
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding: 12px 27px 12px 45px;
	margin-right: 10px;
}

.header-register {
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding: 12px 24px 12px 24px;
}

.header-login:hover,
.header-register:hover {
	color: var(--basic-red);
}

.header-login:active,
.header-register:active {
	color: var(--basic-greylight);
}

.header-account {
	font-family: Cuprum;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
	padding: 12px 57px 12px 56px;
}

.header-logout {
	position: absolute;
	right: 5px;
}

.header-account-links {
	font-family: Cuprum;
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-greymedium);
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.header-account-links li {
	margin: 10px;
}

/* Header Main Menu */

.main-menu {
	background-color: var(--basic-greymedium);
	box-shadow: inset 0px -5px 0px var(--basic-grey);
	list-style: none;
	height: 60px;
	display: flex;
	align-items: center;
	margin-bottom: 60px;
}

.main-menu a {
	width: 100%;
	height: 100%;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	display: block;
	padding: 16px 26px 20px;
}

.main-menu a:active {
	color: var(--basic-whitehalf);
}

.main-menu li:hover {
	background-color: var(--basic-grey);
	box-shadow: inset 0px -5px 0px var(--basic-grey);
}

.main-menu li:active {
	background-color: var(--basic-greydarkhigh);
	box-shadow: inset 0px -5px 0px var(--basic-grey);
}

/* Main Page About Columns */

.main-about-columns {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 70px;
}

.main-about-columns p {
	margin: 0;
	padding: 0;
}

/* Main Page About Section */

.main-about h2 {
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 70px;
}

.delivery-partners {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
}

.delivery-partners li {
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;

}

.main-about .button-more {
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
	padding: 10px 40px;
}

/* Main Page Contacts Section */

.main-contacts h2 {
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin-top: 70px;
}

.main-contacts .map {
	margin-bottom: 25px;
}

.main-contacts .button-contact {
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
	padding: 10px 60px;
}

/*  Featured Section */

.main-featured {
	font-family: Cuprum;
	color: var(--basic-white);
}

.featured-new {
	background-image: url('../img/ribbon-new.png');
	background-repeat: no-repeat;
	background-position: right top;
}

.featured-categories, .featured-benefits {
	list-style: none;
}

.featured-categories h3, .featured-benefits h3 {
	font-size: 24px;
	line-height: 30px;
}

.featured-categories a, .featured-benefits a {
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-whitethird);
	padding: 10px 24px;
}

.featured-categories .materials{
	background-color: var(--special-yellow);
}

.featured-categories .instrument{
	background-color: var(--special-blue);
}

.featured-categories .tech{
	background-color: var(--special-lilac);
}

.slide-title {
	background: var(--basic-blackquarter);
}

.slider-single h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
}

.slider-single span {
	font-size: 18px;
	line-height: 24px;
}

.slider-single a {
	padding: 10px 46px;
}

.featured-benefits .discount {
	background: var(--special-greenlight);
}

.featured-benefits .delivery {
	background: var(--special-yellow2);
}

/* Popular Products Section and Popular Brands Section */

.main-products h2,
.main-brands h2 {
	font-family: Cuprum;
	color: var(--basic-greymedium);
	font-size: 30px;
	line-height: 30px;
	align-items: center;
	text-transform: uppercase;
}

.main-products header,
.main-brands header {
	background-color: var(--header-section-bg);
}

.products-all, .brands-all {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.products-all {
	padding: 10px 24px;
}

.brands-all {
	padding: 10px 38px;
}

.brands-list {
	list-style: none;
}

.brands-list li {
	border-width: 1px;
	border-style: solid;
	border-color: var(--greylight);
	margin: 20px;
}

.brands-list li:hover {
	box-shadow: 0px 4px 20px var(--shadow-brand);
}

.brands-list li:active {
	box-shadow: 0px 4px 20px var(--shadow-brand);
	opacity: 0.5;
}

/* Services Section */

.main-services {
	background-color: var(--basic-bg);
}

.main-services h2 {
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-tabs {
	list-style: none;
}

.services-tabs li {
	width: 240px;
	height: 61px;
}

.services-tabs button {
	width: 100%;
	height: 100%;
	border: none;
	font-family: Cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: left;
	color: var(--basic-white);
	background-color: var(--basic-greymedium);
	box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
	cursor: pointer;
}

.services-tabs .active {
	background-color: var(--basic-white);
	color: var(--basic-greymedium);
	box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
}

.services-tabs button:not(.active):hover {
	background-color: var(--basic-grey);
}

.services-article h3 {
 	color: var(--basic-greymedium);
 	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services-article a {
 	padding: 10px 40px;
}

/* Breadcrumbs */

.breadcrumbs {
	list-style: none;
	width: 100%;
	margin-top: 21px;
	margin-bottom: 20px;
	display: flex;
}

.breadcrumbs li {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	margin-right: 40px;
}

.breadcrumbs a {
	color: var(--basic-black);
}

/* Products Section */

.products {
	display: grid;
	grid-template-columns: 220px 220px 220px 220px;
	grid-template-rows: auto auto auto auto auto auto;
	gap: 20px;
}

.products h2 {
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-greymedium);
	background-color: var(--header-section-bg-catalog);
	padding-top: 29px;
	padding-left: 29px;
	padding-bottom: 30px;
	grid-column-start: 1;
	grid-column-end: -1;
}

.products-filter {
	grid-row-start: 2;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 2;
}

.products-filter header {
	width: 220px;
	height: 38px;
	text-transform: uppercase;
	background-color: var(--basic-bg-filter);
}

.products-filter input {
	border: none;
	background-color: var(--basic-bg-filter);
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.range-wrapper {
	width: 220px;
	height: 80px;
	background-color: var(--basic-bg-filter);
	margin-bottom: 10px;
}

.products-filter input[type=range] {
	width: 180px;
	height: 2px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 39px;
}

.products-filter input[type=text] {
	width: 95px;
	height: 38px;
}

.products-filter span {
	font-size: 17px;
	line-height: 18px;
	margin: auto 5px;
}

.products-filter h3 {
	font-family: Cuprum;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.filter-brands,
.filter-battery {
	list-style: none;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
}

.filter-brands li,
.filter-battery li {
	margin-bottom: 20px;

}

.products-filter button {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: var(--basic-greylight);
	box-sizing: border-box;
	padding: 10px 78px;
	cursor: pointer;
}

.products-sort {
	background-color: var(--basic-bg-filter);
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: -1;
	display: flex;
}

.products-sort p {
	text-transform: uppercase;
}

.sort-options {
	list-style: none;
	display: flex;
}

.sort-options a {
	mix-blend-mode: normal;
	color: var(--basic-blackthird);
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: var(--basic-red);
	text-transform: uppercase;
}

.sort-options .active {
	color: var(--basic-red);
	border: none;
}

.sort-options a:not(.active):hover {
	color: var(--basic-black);
}

.sort-options a:not(.active):active {
	color: var(--basic-red);
}

.products-sort button {
	background: transparent;
	border: none;
	color: var(--basic-red);
	cursor: pointer;
}

.products-list {
	width: 700px;
	list-style: none;
	margin: 0;
	padding: 0;
	grid-row-start: 3;
	grid-row-end: 6;
	grid-column-start: 2;
	grid-column-end: -1;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product-card {
	width: 220px;
	height: 318px;
	border-width: 1px;
	border-style: solid;
	border-color: var(--greylight);
	margin-bottom: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product-card a {
	text-align: center;
}

.product-card h3 {
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
}

.product-card .old-price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-decoration-line: line-through;
	text-transform: uppercase;
	color: var(--basic-greymediumlow);
	margin-bottom: 13px;
}

.product-card .price {
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-image: url('../img/red-button.svg');
	background-repeat: no-repeat;
	padding: 10px 44px 10px 32px;
}

.product-options {
	display: none;
	width: 135px;
	height: 38px;
	margin: 0 auto;
}

.product-card:hover {
	box-shadow: 0px 4px 20px var(--shadow-product-card);
}

.product-new {
	background-image: url('../img/ribbon-new.png');
	background-repeat: no-repeat;
	background-position: right top;
	z-index: 10;
}

.button-buy,
.button-bookmarks {
	width: 135px;
	height: 38px;
	font-family: Cuprum;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

.button-buy {
	background-color: var(--basic-green);
	border: none;
	box-shadow: inset 0px -3px 0px var(--shadow-greendark);
	border-radius: 2px;
	color: var(--basic-white);
	margin-bottom: 10px;
}

.button-bookmarks {
	background-color: var(--basic-white);
	border-width: 3px;
	border-style: solid;
	border-color: var(--basic-green);
	box-sizing: border-box;
	border-radius: 2px;
	color: var(--basic-grey);
}

.button-buy:hover {
	background-color: var(--success);
	color: var(--basic-white);
}

.button-buy:active {
	background-color: var(--shadow-greendarker);
}

.button-bookmarks:hover {
	border-width: 3px;
	border-style: solid;
	border-color: var(--basic-greymedium);
	color: var(--basic-greymedium);
}

.button-bookmarks:active {
	opacity: 0.5;
}

/* Pagination */

.pagination {
	list-style: none;
	display: flex;
}

.pagination li {
	border-width: 1px;
	border-style: solid;
	border-color: var(--basic-greylightlow);
	box-sizing: border-box;
	border-radius: 2px;
	text-transform: uppercase;
	margin: 10px;
	padding: 10px;
	cursor: pointer;
}

.pagination li:not(.active):hover {
	border-color: var(--basic-greylight);
}

.pagination li:not(.active):active {
	border-color: var(--basic-red);

}

.pagination a {
	color: var(--basic-black);
}

.pagination .active {
	background-color: var(--basic-red);
}

.pagination .active a {
	color: var(--basic-white);
}

/* Few Words Section */

.few-words-wrapper {
	width: 100%;
	height: 260px;
	background-color: var(--basic-bg);
}

.few-words h2 {
	font-family: Cuprum;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	padding-top: 64px;
}

/* Footer */

footer {
	margin-top: 70px;
	background-color: var(--basic-greymedium);
	font-family: Cuprum;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.footer-top {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.footer-top-left {
	width: 324px;
}

.footer-logo {
	width: 220px;
	height: 68px;
	background-color: var(--basic-red);
	box-shadow: inset 0px -5px 0px var(--shadow-reddark);
}

.footer-logo img {
	padding: 20px 40px 25px 40px;
}

.footer-address {
	color: var(--footer-address);
}

.footer-nav {
	width: 550px;
}

.footer-nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-nav-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 34px;
}

.footer-nav-top,
.footer-nav-bottom {
	list-style: none;
}

.footer-nav-top a {
	color: var(--footer-nav-top);
}

.footer-nav-top a:hover {
	text-decoration: underline;
}

.footer-nav-bottom a {
	color: var(--footer-nav-bottom);
}

.footer-nav-bottom a:hover {
	text-decoration: underline;
}

.footer-nav-top a:active,
.footer-nav-bottom a:active {
	mix-blend-mode: normal;
	opacity: 0.5;
	text-decoration: none;
}

.footer-bottom-wrapper {
	width: 100%;
	height: 107px;
	background-color: var(--basic-grey);
}

.footer-bottom {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
	width: 100%;
	height: 107px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-copyright {
	width: 227px;
	padding: 36px;
	margin: 0;
	padding: 0;
	color: var(--basic-white);
}

.footer-social {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-social li {
	width: 44px;
	height: 44px;
	background-color: var(--footer-social-bg);
	border-radius: 50%;
}

.footer-social li:hover {
	background-color: var(--basic-red);
}

.footer-info {
	width: 140px;
}

.footer-info a {
	color: var(--footer-info-link);
}

.footer-info a:hover {
	text-decoration: underline;
}

.footer-info a:active {
	text-decoration: none;
	color: var(--basic-red);
}

/* Modal Windows */

.modal {
	display: none;
}